/*      ============== google fonts poppins starts here ==============     */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');
/*      ============== google fonts poppins ends here ==============     */

/*      ============== common css styles starts from here ==============     */
body{
    font-family: 'Poppins', sans-serif;
    
}
a{
    text-decoration: none;
    display: inline-block;
}
/*      ============== common css styles ends here ==============     */
/*      ============== banner_part section starts from here ==============     */
#banner_part{
    background-image: linear-gradient(217deg, rgba(0, 255, 234, 0.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0, 110, 255, 0.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
#banner{
    display: flex;
    padding: 48px;
    transition: background linear .5s;
}
#banner:hover{
    background-color: #2D25A0;
}
.banner_half{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_half.banner_image{
    padding-left: 30px;
}
.banner_half h1{
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    margin:  0 0 15px 0;
    padding: 0;
}
#banner:hover .banner_half h1{
    text-shadow: 3px 3px 3px #000;
}
.banner_half a{
    font-size: 16px;
    font-weight: 600;
    background: rebeccapurple;
    color: white;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    width: 168px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background linear .3s;
}
.banner_half a:hover{
    color: #fff;
    background-color: #E02C6D;
    text-shadow: 0 0 0 none;
}
.banner_half .fa-arrow-right{
    font-size: 16px;
    margin-left: 10px;
}
.banner_half img{
    width: 100%;
}
/*      ============== banner_part section ends here ==============     */
/*      ============== top_players section starts from here ==============     */
#top_players{
    padding: 72px 48px;
}
#best_players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 34px;
    grid-row-gap: 30px;
    padding: 0 30px;
}
.player_details{
    padding: 20px;
    box-shadow: 1px 1px 5px lightgrey, 1px 1px 5px lightgrey;
    background-color: #fff;
    border-radius: 5px;
    transition: box-shadow .1s linear;
}
.player_image{
    overflow: hidden;
}
.player_image img{
    width: 100%;
    transition: transform .5s ease;
}
.player_image:hover img{
    transform: scale(1.5);
}
.player_info h3{
    font-size: 28px;
    font-weight: 700;
    color: #18191F;
}
.player_info p{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
}
/*      ============== top_players section ends here ==============     */
/*      ============== Our_course section starts from here ==============     */
#our_course_part{
    margin-bottom: 152px;
}
#our_course_part h2{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    color: #0A0826;
    margin: 52px 0;
}
#our_course_part h2 span{
    color: limegreen;
}
#our_course{
    display: flex;
    justify-content: space-evenly;
}
.course{
    border-radius: 10px;
    box-shadow: 1px 1px 3px gray;
    cursor: pointer;
    width: 28%;
    background-color: rgb(148, 228, 255);
    padding: 0 20px;
}
.thumbnali video{
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}
.course_details{
    padding: 20 20px;
}
.course_details h3{
    color: #0A0826;
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 700;
}
.course_details p{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
}
.course_details a{
    color: #fcfcfc;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px dimgrey;
    text-shadow: 1px 1px 1px #000;
    background-image: linear-gradient(black, deepskyblue);
}
/*      ============== Our_course section ends here ==============     */
/*      ============== register_here section starts from here ==============     */
#register_here{
    background-color: rgb(170, 234, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#register_details{
    background-color: mintcream;
    border: 5px dotted gray;
    width: 60%;   
    padding: 0 30px 30px;
}
#register_details h2{
    text-align: center;
    padding: 80px 0 0;
}
#register_form{
    padding: 80px 0;
}
.register_info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 0;
}
.sign_up, button{
    border: 1px solid lightgray;
    padding: 20px;
    color: deepskyblue;
    font-size: 18px;
    font-weight: 400;
}
button{
    background-color: lightskyblue;
    text-align: center;
    white-space: nowrap;
    border: 3px solid lightskyblue;
    transition: background-color linear 0.3s;
}
button:hover{
    background-color: deepskyblue;
    color: #000;
    border: 3px solid deepskyblue;
}
#register_form .agree{
    color: #6C6C6C;
    font-size: 12px;
    display: block;
}
/*      ============== register_here section ends here ==============     */
/*      ============== footer part starts from here ==============     */
#footer_details{
    padding-bottom: 40px;
}
.footer_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}
.footer_logo a{
    width: 25%;
    display: block;
}
.footer_logo img{
    width: 100%;
}
.media_icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.media_icon a{
    color: gray;
    font-size: 24px;
    font-size: 700;
    background-color: lightgrey;
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 30px;
    border-radius: 50%;
}
.copy_right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy_right p{
    color: #000;
    font-size: 18px;
    font-weight: 400;
}
/*      ============== footer part ends here ==============     */



/* ========================================== 
Media Queries starts from here
==========================================     */


/*      ============== Mobile Devices starts here ==============     */
@media only screen and (max-width: 480px){
    #banner_part{
    }
    #banner{
        padding: 27px;
    }
    .banner_half h1{
        font-size: 18px;
    }
    .banner_half a{
        font-size: 12px;
        width: 94px;
        height: 22px;
    }
    .banner_half.banner_image{
        padding-left: 0;
    }
    #best_players{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        padding: 0 10px;
    }
    #top_players{
        padding: 30px 40px;
    }
    .player_info h3{
        font-size: 18px;
        margin-block-start: 10px;
        margin-block-end: 0;
    }
    .player_info 9{
        font-size: 12px;
    }
    #our_course_part{
        margin-bottom: 80px;
    }
    #our_course_part h2 {
        font-size: 28px;
        margin: 30px 0;
    }
    #our_course{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    .course{
        width: 64%;
        margin-bottom: 20px;
    }
    .course_details h3, .copy_right p{
        font-size: 14px;
    }
    .course_details p{
        font-size: 12px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    .course_details a {
        font-size: 12px;
        padding: 5px 9px;
        margin-bottom: 12px;
    }
    #register_here{
        flex-direction: column;
    }
    #register_details h2, #register_form, #footer_details {
        padding: 0;
    }
    .register_info{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
    }
    .sign_up, button{
        padding: 10px;
        font-size: 12px;
    }
    .footer_logo{
        padding-top: 30px;
    }
    .footer_logo a{
        width: 65%;
    }
    .media_icon a {
        font-size: 18px;
        width: 32px;
        height: 32px;
        margin: 10px 13px;
    }
}
/*      ============== Mobile Devices ends here ==============     */